
<div class="offset-1 col-10">
  <h2>Listado de Productos</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th  scope="col">Nombre</th>
      <th  scope="col">Descripción</th>
      <th  scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of listaProductos" scope="row"  (dblclick)="cargarProductoParaModificar(producto)" 
     [ngClass]="{'table-hover-row': isHovered}" 
    (mouseenter)="isHovered = true" 
    (mouseleave)="isHovered = false"
    >
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.precio }} €</td>
      <button (click)="eliminarProducto(producto.id)" class="btn btn-danger">Eliminar</button>  
    </tr>
  </tbody>
  <tfoot>
    <th>
      <tr>
        <div *ngIf="modoPaginado">
          <p>Página: {{page}}</p>
          <p>Ordenado por   {{sort}}</p>
          <p>Total de elementos {{elementosTotales}}</p>
        </div>
      </tr>
    </th>
  </tfoot>
</table>
</div>



  <div *ngIf="modoEditar" class="offset-1 col-2 ">
    <form [formGroup]="formulario" >
        <h2>Modificar Producto</h2>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingresa el nombre del producto">
        </div>
 

       <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <input type="text" class="form-control" id="descripcion" formControlName="descripcion" placeholder="Ingresa la descripcion del producto">
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="number" class="form-control" id="precio" formControlName="precio" placeholder="Ingresa el Precio">
    </div>
    
      <div class="col-12">
        <div class="form-group padding-top-8">
          <div class="col-2">
            <label class="control-label" for="archivo"></label>
          </div>
          <div class="col-10 padding-top-8 bootstrap-table">
            <div class="fixed-table-toolbar"></div>
            <div class="fixed-table-container">
              <div class="fixed-table-body">
                <table data-toggle="table" data-classes="table table-hover table-condensed" data-pagination="true"
                  data-striped="true" class="table table-hover table-condensed table-striped">
                  <thead>
                    <tr>
                      <th colspan="100%" data-field="" data-sortable="true">
                        <div class="th-inner">
                          <input (change)="fileNameChanged($event, 'archivo', 'nombreArchivo')" type="file"
                            class="form-control height-attach-file" #inputFile>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="this.ficheroAdjunto">
                      <td style="vertical-align: middle">
                        <div class="col-xs-12">
                          <div class="col-xs-10" style="text-align: left; margin-top: 6px;">
                            <span
                              style="height: 40px; vertical-align: middle; margin-right: 5px; text-align: left;"> {{
                              this.formulario.get('nombreArchivo').value }}</span>
                          </div>
                          <div class="col-xs-12" style="text-align: right;">
                            <!-- Descargar -->
                            <button
                            *ngIf="this.ficheroAdjunto&&this.formulario.get('archivo').value==null"
                            type="button" 
                              class="btn btn-action" role="button"
                              (click)="descargarFile(this.formulario.get('id').value, this.formulario.get('nombreArchivo').value);"
                              title="Visualizar" style="margin-right: 3px;">
                              <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <!-- Eliminar archivo -->
                            <button type="button" class="btn btn-action" role="button"
                              (click)="eliminarFile()"
                              title="Eliminar" style="margin-right: 3px;">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" (click)="cancelar()" class="m-2 btn btn-danger">Cancelar</button>

      <button type="submit" [disabled]="formulario.invalid" (click)="modificar()" class="m-2 btn btn-info">Modificar Producto</button>


    </form> 
</div>